body{
    background-image: url('img/Car\ Insurance.jpg');
    
}
#flex{
    display: flex;
}
#left{
    width: 300px;
    height: 450px;
    background-color: rgb(133, 184, 231);
    margin-top: 100px;
    margin-left: 100px;
    color: white;
}
.btn-outline-light{
    width: 280px;
    height: 38px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h4{
    margin-bottom: 10px !important;
}
#spinner{
    margin-left: 110px;
}
