* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Lora', serif;
  }
  .color-gradient { 
    height: 100vh;
    width: 100vw; 
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
     background: rgb(124, 188, 248);
    background: radial-gradient(
      circle,
      rgba(40, 91, 139, 0.633) 0%,
      rgba(233, 244, 255, 0.841) 70%,
      rgb(62, 116, 167) 100%
    
    );
  }
 
  .temp{
    font-size: x-large;
  }
 

  .div{
    padding: 10px;
    background-color: rgb(18, 62, 112);
    color: white;
  }
.temp{
  font-size: 30px;
}
.wind{
  font-size: 15px;
}
.day{
  font-size: 20px;
  margin: 0;
}
.date{
  font-size: 20px;
  margin: 0;
}
.time{
  font-size: 20px;
  margin: 0;
}
input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(204, 212, 228);
  cursor: pointer;
}
